include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
include license.txt
recursive-include advanced_attendance *.css
recursive-include advanced_attendance *.csv
recursive-include advanced_attendance *.html
recursive-include advanced_attendance *.ico
recursive-include advanced_attendance *.js
recursive-include advanced_attendance *.json
recursive-include advanced_attendance *.md
recursive-include advanced_attendance *.png
recursive-include advanced_attendance *.py
recursive-include advanced_attendance *.svg
recursive-include advanced_attendance *.txt
recursive-exclude advanced_attendance *.pyc
